<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <nav class="navbar">
    <div class="logo">Party Time!</div>
    <div class="menu-icon" onclick="toggleMenu()">
        &#9776;
    </div>
    <div class="nav-links">
        <a href="/">Invitation</a>
        <a href="/inspiration">Inspiration</a>
        <a href="/rsvp">RSVP</a>
    </div>
</nav>


    <script>
        function toggleMenu() {
            const menu = document.querySelector('.nav-links');
            menu.classList.toggle('active');
        }
    </script>
    

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>
